%h2
  What is Adobe Flex?
%h2
  What is Adobe Flash Builder/Flex Builder?
%h2
  What is MXML?
%h2
  What is ActionScript 3 (AS3)?
%h2
  What is a SWF?
%h2
  What is a SWC?
%h2
  What is a Flex Project?
%h2
  What is a Flex Library Project?
%h2
  What is an Application?
%h2
  What is a layout?
%h2
  What is a component?
%h2
  What is a container?
%h2
  What is a skin?
%h2
  What does CSS mean in regards to Flex?
%h2
  What is a State?
%h2
  What is a Transition?
%h2
  What is an effect?
%h2
  What is an event/event handler?
%h2
  Bonus: What is the elastic racetrack?  