#footer.text_right
  Flex 4 in 4 is the brain child of 
  %a{ :href => 'http://ianserlin.com', :title => 'Ian Serlin: identifying pain points and creating chaos since 1984' }
    Ian Serlin 
  and is licensed under a
  %a{ :rel => 'license', :href => 'http://creativecommons.org/licenses/by-sa/3.0/', :style => 'display:inline' }
    Creative Commons Attribution-Share Alike 3.0 License&nbsp;
    %img{ :alt => 'Creative Commons License', :style => 'border-width:0; display:inline; vertical-align:bottom', :src => 'http://i.creativecommons.org/l/by-sa/3.0/80x15.png' }