%ul#nav_menu.text_right
  %li#logo.clear
    %a.block.no_hover{ :href => '/', :title => 'Flex 4 in 4: Bite-size best practices' }
      .right.clear
        Flex
      .right.clear
        4
      .right.clear
        in
      .right.clear
        4
    .clear
  %li  
    %a{ :href => '/padawan', :title => 'Discovering Flex'}
      Padawan Series
  %li          
    %a{ :href => '/ninja', :title => 'Mastering Flex'}
      Ninja Series
  %li          
    %a{ :href => '/hacker', :title => 'Hacking Flex'}
      Hacker Series        
  %li
    %a{ :href => '/community', :title => 'Community Hackers'}
      Community Series