%ul#menu.text_right
  %li#logo
    %a.no_hover{ :href => '/', :title => 'Flex 4 in 4: Bite-size best practices' }
      Flex
      %br
      4
      %br
      in
      %br
      4
  %li  
    %a{ :href => '/padawan', :title => 'Discovering Flex'}
      Padawan Series
  %li          
    %a{ :href => '/ninja', :title => 'Mastering Flex'}
      Ninja Series
  %li          
    %a{ :href => '/hacker', :title => 'Hacking Flex'}
      Hacker Series        
  %li
    %a{ :href => '/community', :title => 'Community Hackers'}
      Community Series