.menu
  .title
    More Resources
  %ul
    %li
      %a{ :href => "http://help.adobe.com/en_US/FlashPlatform/beta/reference/actionscript/3", :title => "Adobe ActionScript 3/Flex API Reference"}
        AS3/Flex API Reference
    %li
      %a{ :href => "http://http://www.adobe.com/devnet/flex", :title => "Adobe Flex Developer Center"}
        Flex Developer Center
    %li
      %a{ :href => "http://tv.adobe.com/product/flex", :title => "AdobeTV: Flex"}
        Flex Episodes on AdobeTV
    %li
      %a{ :href => "http://blog.flexexamples.com", :title => "Just a bunch of Adobe Flex Examples"}
        Flex Examples Blog
    %li
      %a{ :href => "http://help.adobe.com/en_US/as3/dev/as3_devguide.pdf", :title => "AS3 Developer's Guide PDF" }
        AS3 Developer's Guide

.notice
  .title
    What's going on here?
  %p
    Flex 4 in 4 grew out of a series of conversations I had with a colleague when she asked me to teach her Flex.
    I realized that while there is no shortage of sites devoted to Flex learning, I actually spend most of my time
    in the API docs, which I live and breathe while developing.
  %p
    Unfortunately, the API docs aren't a great place for someone to learn the basics or even what's new unless you're 
    willing to put in a lot of time. So while we were having these conversations I started to write down notes on
    the questions she had and the answers we talked through that made sense.
  %p
    This project, then, is my attempt to organize (which I'm variously good at) in a concise (which I'm not) way
    practically everything I know (we'll see how far that gets me) regarding Adobe Flex so that I have more great
    developers to hang out with when creating internet applications.
  %p
    If you want to participate in this project send me an email at flex4in4 <at> ianserlin <dot> com and I'll send
    you the github invite. If you're reading this now, congrats, I don't know how you found this site but if you're
    ready to get started go peck through the
    %a{ :href => "/padawan", :title => "Padawan Series: Foundations" }
      Padawan Series.
  %p
    Skinamarinkadinkadink,
  %p
    %a{ :href => "http://ianserlin.com", :title => "Yeah, I've got one of those homepage things too..."}
      Ian Serlin