.menu
  .title
    More Resources
  %ul
    %li
      %a{ :href => "http://help.adobe.com/en_US/FlashPlatform/beta/reference/actionscript/3", :title => "Adobe ActionScript 3/Flex API Reference"}
        AS3/Flex API Reference
    %li
      %a{ :href => "http://http://www.adobe.com/devnet/flex", :title => "Adobe Flex Developer Center"}
        Flex Developer Center
    %li
      %a{ :href => "http://tv.adobe.com/product/flex", :title => "AdobeTV: Flex"}
        Flex Episodes on AdobeTV
    %li
      %a{ :href => "http://blog.flexexamples.com", :title => "Just a bunch of Adobe Flex Examples"}
        Flex Examples Blog
    %li
      %a{ :href => "http://help.adobe.com/en_US/as3/dev/as3_devguide.pdf", :title => "AS3 Developer's Guide PDF" }
        AS3 Developer's Guide

.notice
  .title
    Dear Earth,
  %p
    There aren't enough great Flex developers. Period.
  %p
    Fortunately, I've gotten to work with a few, however, they're hard to find and even harder to keep. 
    This is confusing because the Flex SDK (especially Flex 4) is one of the simplest yet most powerful application frameworks I've worked with... 
    and the job market for Flex engineers is hot (despite what some might think).
  %p
    Originally, I set out to make just a few specific tutorial videos that I could share with my colleagues and friends that detailed the best
    new features in Flex 4 (like the skinning system, layouts, the new state syntax, TLF support and the Spark component framework) but a couple
    things happened. First, I started having fun. Second, I realized that most of what I know comes straight from living in the API docs and just
    hacking on code. Even though there are a lot of great Flex learning resources out there they can be disorganized or incomplete.
  %p
    I want to continue learning too and making these tutorials helps solidify concepts in my mind. 
  %p
    Dickydoo,
  %p
    %a{ :href => "http://ianserlin.com", :title => "Yeah, I've got one of those homepage things too..."}
      Ian Serlin